body {
  background-color: #111;
  color: white;
}

.carousel img {
  max-height: 500px;
  object-fit: contain;
  background: black;
}

.side-by-side {
  display: flex;
}

.side-by-side img {
  width: 50%;
}

.anaglifo-container {
  position: relative;
}

.anaglifo-container img {
  position: absolute;
  width: 100%;
}

footer {
  background: #000;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}